.SidBarContainer{
    background-color: rgb(247, 246, 246);
    border-radius: 5px;
    border-right: 1px solid rgba(128, 126, 126, 0.356);
}
.SidBarContainer h1 {
    font-family: "Noto Sans" ; 
    margin-top: 50px;
    text-transform: uppercase;
}
.item_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;

    
}

.item_container label {
    margin-left: 10px;
    color: #7E7E7E;
    font-size: 18px;
}
.btn_logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-top: 80px;
    border: none;
    background-color: rgba(234, 189, 77, 0.66);
    cursor: pointer;
}
.btn_logout label{
    color: #7E7E7E;
    font-size: 15px;
}
.item_container:hover{
    background-color: rgba(234, 189, 77, 0.66);
    border-left: 8px solid rgb(234, 190, 77);

}
.btn_logout:hover{
    background-color:#c4c4c4a8 ;
}