.header-Revenus-page{
    width: 1250px;
    height: 70px;
    background-color:#ffff;
    margin-top: 33px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-Revenus-page h1{
    font-family: "Noto Sans" ; 
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 20px;
}
.header-Revenus-page .btn-add-revenus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-right: 30px;
    background-color: rgba(234, 189, 77, 0.66);
    cursor: pointer;
}
.header-Revenus-page .btn-add-revenus label{
    color:  #7E7E7E;
    font-size: 15px;
    margin-left: 10px;
}
.header-Revenus-page .btn-add-revenus:hover{
    background-color: rgba(234, 190, 77, 0.888);
}
.table1_Container{
    background-color:#ffff;
    margin-top: 33px;
    margin-left: 20px;
    border-radius: 10px;
    height: 550px;
}
